
*{
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

}
.cuerpo {
  width: 100vw;
  height: 100%;
  margin: 0vh 0vw 0vh 0vw;
}
.dark{
  width: 100vw;
  background-color: #12121296;
  color: white;
}
.header{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height:24vh;
 
}

.tituloHeader{
  text-align: center;
  width:35%;
  height: 40%;
  margin: 5vh 0vw 0vh 5vw;
  font-weight: 500;
  font-size: 4vw;
}
.tituloHeader:hover{
  color: rgb(60, 221, 11);
} 
.navegador{
  display: flex;
  justify-content:space-around;

  width:40%;
  height: 40%;
  margin: 5vh 0vw 0vh 0vw;
}

.linkNavbar{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-size: 3vw;
  width:35%;
  height: 40%;
  color: black;
  padding: 0vh 0vw 0vh 2vw;
  margin:1vh 0vw 0vh 0vw;
  font-weight: 500;
}
.linkNavbar:hover{
  color: rgb(60, 221, 11);
}
.botonTema{
  width:15%;
  height: 60%;
  padding: 0vh 0vw 0vh 0vw;
  border: none;
  border-radius: 2vw;
  margin:3.7% 0vw 0vh 0vw;
 
}
.botonTema:hover{
  background-color:  rgb(60, 221, 11);
}
.lineaNavbar{
  height:0.5vh;
  width: 100%;
  margin:0vh 0vw 0vh 0vw;
  background-color: gray;
}
.principal{
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: 0;
  width: 100vw;
 
}
.tituloHome,.tituloFavs,.tituloDetail{
  width: 100%;
  height: 10%;
  text-align: center;
  color: rgb(60, 221, 11);
}

.card-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
 
}
.card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap ;
  text-align: center;
  width: 16.5%;
  height: 70%;
  border: 2px solid rgb(136, 136, 136);
  border-radius: 2vw;
  margin: 3vh 0vw 0vh 2vw;
}
.imageDentist{
  width: 80%;
  height: 50%;
  border-radius: 2vw;
}
.dataDentist{
  font-size: 1.2vw;
  margin:1vh 0vw 0vh 0vw;
}
a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(60, 221, 11);
}
.favButton{
  background-color: rgba(128, 128, 128, 0.685);
  width: 80%;
  height: 5vh;
  border: none;
  cursor: pointer;
  margin: 0vh 0vw 1vh 2vw;
  border-radius: 2vw;
}
.ButtonDeleteFav{
  background-color: rgba(255, 0, 0, 0.521);
  width: 80%;
  height: 5vh;
  border: none;
  cursor: pointer;
  margin: 0vh 0vw 1vh 2vw;
  border-radius: 2vw;
}
.lineaFooter{
  padding:1vh 0vw 0vh 0vw ;
  font-weight: 800;
  width: 100vw;
  height: 5vh;
  margin: 19vh 0vw 0vh 0vw;
  background-color: rgba(230, 20, 20, 0.774);
  text-align: center; 
 }
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10vh 0vw 0vh 0vw;
  bottom: 0;
  width: 100vw;
  height: 10vh;
}
.facebook,.instagram,.tiktok,.whatsap{
  width: 3vw;
  height: 4vh;
 }

 .digital{
  width: 10vw;
  height: 5vh;
  margin: 0vh 0vw 20vh 0vw;
}
.dentist{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh 0vw 0vh 0vw;
  width: 100% ;
  height: 100%;
 
}
.imageDetail{
  width: 14vw;
  height: 30vh;
  margin:9vh 0vw 0vh 0vw;
  border-radius: 2vw;
}
.contenedorDentist{
  justify-content: space-around;
  margin: 15vh 0vw 0vh 0vw;
  width: 90vw;
  height: 90%;
  display: flex;
  flex-direction:column;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact{
  width: 100vw;
  height: 58vh;
}
.tituloContacto{
  width: 240px;
  margin: auto;
  text-align: center;
 margin-top: 5vh;
}
.parrafoContacto{
  width: 360px;
  margin: auto;
  text-align: center;
  
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  height: 25vh;
  margin: auto;
  margin-top: 5vh;
 
}
.inputName,.inputEmail{
  width: 220px;
  height: 4vh;
  margin: auto;
  border-radius: 2vw;
  border: none;
  background-color: rgba(172, 255, 47, 0.466);
}
.botonEnvio{
  width: 100px;
  height: 4vh;
  margin: auto;
  border-radius: 2vw;
  border:2px solid gray;
}
.mensajeContacto{
  width: 95vw;
  margin: auto;
  text-align: center;
  margin-top: 5vh;
   color:rgba(0, 0, 255, 0.76);
}
.mensajeError{
  width: 40vw;
  margin: auto;
    text-align: center;
  margin-top: 5vh;
  color:rgba(255, 0, 0, 0.795);
}



/***********************************480px****************************************/

@media(max-width:480px){
  .card-grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin:0vh 0vw 0vh 0vw;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 70%;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 2vw;
    margin: 3vh 0vw 0vh 0vw;
  }
  .dataDentist{
    font-size: 3vw;
    margin:1vh 0vw 0vh 0vw;
  }
}
